<h2 mat-dialog-title >{{estadoFormulario}} Nuevo Usuario</h2>

<mat-dialog-content>
  <form [formGroup]="userForm">
    <div class="user-container">
      <mat-form-field>
        <input matInput placeholder="Nombre Completo" formControlName="name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Apellido Completo" formControlName="lastname" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Edad" formControlName="age" required>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Profesion" formControlName="profession" required></textarea>
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="guardarUser()" [disabled]="userForm.invalid">
    <mat-icon>save</mat-icon> Guardar
  </button>
  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>

</mat-dialog-actions>
